html, body {
	background-color: #000000;
	color:#ffffff;
}

a {
	color: #ffffff;
}

h1 {
	text-align: center;
	font-size: 60px;
	font-family: 'Rock Salt', cursive;
	line-height:200px;
}

h2 {
	text-align: left;
	font-size: 30px;
	font-family: 'Bai Jamjuree', sans-serif;
	line-height: 70px;
}

@font-face {
	font-family: "ChicagoFLF";
	src:url("fonts/ChicagoFLF.ttf");
	font-weight: 400;
}