@font-face {
	font-family: 'Arima Madurai', cursive;
}

head,body {
	background-color:#9493FF;
}

h1 {
	font-weight: normal;
	font-size: 1.8rem;
	margin: 0;
	text-align: center;
	line-height: 3rem;
	color:#FFFFFF;
}

h2 {
	font-weight: normal;
	font-size: 1.3rem;
	text-align: center;
	line-height: 2rem;
	color:#FFFFFF;
	text-align:center;
	padding:200px;
}

body {
	background-image:url('1star.jpg');
}