@font-face {
	font-family: 'Arima Madurai', cursive;
}

body {
  font-family: "Vogue";
}

h1 {
	font-weight: normal;
	font-size: 1.8rem;
	margin: 0;
	text-align: center;
	line-height: 3rem;
	color:#FFFFFF;
}

h2 {
	font-weight: normal;
	font-size: 1.3rem;
	text-align: center;
	line-height: 2rem;
	color:#FFFFFF;
}
