@font-face {
	font-family: "Vogue";
	src: url("../fonts/Vogue.ttf");
}

body {
  font-family: "Vogue";
}

h1 {
	font-weight: normal;
	font-size: 2.0rem;
	margin: 0;
	font-family: "Vogue";
	text-align: center;
	line-height: 4rem;
	color:#000000;
}

h2 {
	font-weight: normal;
	font-size: 1.0rem;
	margin: 0;
	font-family: "Vogue";
	text-align: left;
	line-height: 3rem;
	color:#001BAA;
}

p {
	font-weight: normal;
	font-size: 1rem;
	margin: 0;
	font-family: "Vogue";
	text-align: center;
	line-height: 1rem;
}


.container {
	display: flex;
  flex-wrap: wrap;
}

.filter {
	flex-basis: 20rem; /* width of the sidebar. adjust to your liking */
  flex-grow: 1;
}

.filter-list {
  list-style-type: none;
  padding-left: 0;
}

/* make buttons look like text */
.filter-item {
  appearance: none;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 0;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.cover-image {
	width: 100%;
	height: auto;
}

.covers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
}