@font-face {
	font-family: 'Arima Madurai', cursive;
}
html,body {
  background-color:#82B3FC;
  color:#000000;
}

h1 {
	font-weight: normal;
	font-size: 1.8rem;
	margin: 0;
	text-align: center;
	line-height: 3rem;
	color:#FFFFFF;
}

h2 {
	font-weight: normal;
	font-size: 1.3rem;
	text-align: center;
	line-height: 2rem;
	color:#FFFFFF;
}

.wrapper {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	overflow: visible;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.template {
	display: none;
}

.rating-field {
	display: flex;
	flex-flow: row-reverse wrap;
	justify-content: center;
	text-align: center;
	border: none;
	float: left;
	padding: 0;
	margin: 0;
}

.rating-field input {
	opacity: 0;
	width: 0;
	height: 0;
	position: absolute;
}

.rating-field label {
	display: inline-block;
	color: var(--color-background-secondary);
}

.rating-field label:hover,
.rating-field label:hover ~ label,
.rating-field input:checked ~ label {
	color: var(--color-primary);
}

.rating-field input:active ~ label {
	color: var(--color-secondary);
}

.rating-field input:focus ~ label > svg {
	stroke: #fff;
	stroke-linejoin: round;
}

.rating-field label > svg {
	width: 3rem;
	height: auto;
	padding: 0.5rem;
	overflow: visible;
}

.rating-field button {
	visibility: hidden;
	margin-top: 2em;
	flex-basis: 100%;
}

.rating-field input:checked ~ button {
	visibility: visible;
}

.heading {
	font-size: 1.5rem;
	padding: 0;
	margin-bottom: 1em;
	font-weight: 400;
}
