h1 {
	font-family: ChicagoFLF;
	font-size: 90px;
}

h4 {
	font-family: ChicagoFLF;
	font-size: 20px;
	line-height:50px;
}

p {
	font-family: ChicagoFLF;
	font-size: 25px;
	line-height:40px;
}

button {
	font-family: ChicagoFLF;
}

.whole {
	background-color: #000000;
	max-width:100%;
	color: #00FF38;
	margin-bottom: 100px;
}

html,body {
	width: 100%;
	max-width: 100vw;
	overflow-x: hidden;
	background:#000000;
}

body {
	padding: 25px;
  	background-color: white;
  	color: black;
  	font-size: 25px;
}

.dark-mode {
	background-color: black;
  	color: white;
}

a {
	color: #39FF14;
}

header {
	max-width:100%;
	margin:0;
	padding: 100px;
}

.center {
	text-align: left;
	border: 3px ;
}

.first {
	text-align: center;
	font-size: 100px;
	font-family: ChicagoFLF;
	line-height:210px;
}

h2 {
	text-align: left;
	font-size: 30px;
	font-family: ChicagoFLF;
	line-height: 70px;
}

@font-face {
	font-family: "ChicagoFLF";
	src:url("fonts/ChicagoFLF.ttf");
	font-weight: 400;
}

a {
	color: #39FF14;
}

p {
	font-size: 30px;
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	font-style: normal;
	max-width: 100%;
	word-wrap: break-word;
	line-height:50px;
}

.secondpage {
	background: #FFFFFF;
}

.fruitcontainer {
	width:100%;
	display:flex;
	justify-content:center;
}

.center {
	text-align: left;
	border: 3px ;
}

.poem {
	text-align: left;
	font-size: 50px;
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-right: 100px;
	padding: 24px;
	text-decoration: none;
}

.poem:hover {
	border:1px solid;
	border-radius:64px;
}

.poem.abandon:hover {
	border-color: #FF0000;
}
	

.second {
	text-align: left;
	font-size: 70px;
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height:115px;
}


@font-face {
	font-family: "ChicagoFLF";
	src:url("fonts/ChicagoFLF.ttf");
	font-weight: 400;
}